@page
@model IndexModel
@{
    ViewData["Title"] = "Yourapp";
}

<div class="text-center">
    <h1 class="display-4">Welcome Yourapp</h1>
    <h3>@Environment.OSVersion</h3>
    <h3>MySQL:5.7</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
